[bumpversion]
current_version = 0.4.2
commit = True
tag = True

[bumpversion:file:setup.py]
serialize = {major}.{minor}.{patch}

[bumpversion:file:hub20/api/__init__.py]
serialize = {major}.{minor}.{patch}
