celery
channels
channels_redis
django
django-allauth
django-celery-beat
django-cors-headers
django-filter
django-ipware
django-model-utils
django-redis
djangorestframework
django-rest-auth
django_smtp_ssl
django-money
drf-nested-routers
drf-yasg
ethereum
eth-abi
hdwallet
httpx
mypy_extensions
psycopg2-binary
pycoingecko
pydantic
pycryptodome
pyjwt
raiden_contracts
uritemplate
uvicorn
web3

# Replace this with pypi's package once it is updated
git+https://github.com/mushroomlabs/celery-pubsub.git

# Testing / CI / Document Generation
bump2version
pytest-asyncio
pytest-django
pytest-env
factory_boy
