celery
channels
channels_redis
django>=4
django-allauth
git+https://github.com/celery/django-celery-beat
# django-celery-beat
dj-rest-auth
django-cors-headers
django-filter
django-ipware
django-model-utils
django-redis
djangorestframework
django_smtp_ssl
django-money
drf-nested-routers
drf-yasg
ethereum
eth-abi
hdwallet
httpx
jsonschema
mypy_extensions
psycopg2-binary
pycoingecko
pydantic
pycryptodome
pyjwt
qr3
raiden_contracts
uritemplate
uvicorn
web3

# Replace this with pypi's package once it is updated
git+https://github.com/mushroomlabs/celery-pubsub.git

# Testing / CI / Document Generation
bump2version
pytest-asyncio
pytest-django
pytest-env
factory_boy
