celery
celery-pubsub
channels
channels_redis
django>=4
django-allauth
git+https://github.com/celery/django-celery-beat
# django-celery-beat
dj-rest-auth
django-cors-headers
django-filter
django-ipware
django-model-utils
django-redis
djangorestframework
djangorestframework-link-header-pagination
django_smtp_ssl
django-money
django-taggit
drf-nested-routers
drf-yasg
ethereum
hdwallet
httpx
jsonschema
mypy_extensions
psycopg2-binary
pycoingecko
pydantic
pycryptodome
pyjwt
qr3
raiden_contracts
uritemplate
uvicorn
web3

# Testing / CI / Document Generation
bump2version
pytest-asyncio
pytest-django
pytest-env
factory_boy
